@charset "ISO-8859-1";
/*
RULES FOR THE VIEWTUBE INDEX/ LANDING PAGE
*/
@charset "ISO-8859-1";
/*
============================================================================
RULE FOR GRADIANT VIEW
============================================================================
*/

/*
===========================================================================
RULES FOR ELEMENTS
===========================================================================
*/


/*
============================================================================
RULES FOR CLASSES
============================================================================
*/
.vt-main {
	background-color : grey;
	text-align       : center;
	MAX-HEIGHT       : 1080px;
	MIN-HEIGHT       : 360px;
	MAX-WIDTH        : 100%;
	bottom           : 0;
	background-image : linear-gradient(#F0FFFF, #808080, #666666, black);

}

/*
-----------------------------------------------------------------------------
ID LEVEL RULES
-----------------------------------------------------------------------------
*/