@charset "ISO-8859-1";
/*
============================================================================
RULE FOR GRADIANT VIEW
============================================================================
*/
*{
	background-color: blue;
}

/*
===========================================================================
RULES FOR ELEMENTS
===========================================================================
*/
h2, h3{
	color:#dd7127;
}
h4{
	color:#DD2727;
}

/*
============================================================================
RULES FOR CLASSES
============================================================================
*/
.vt-ribbon-home {
	
}
.vt-ribbon-viewtube {
	
}

/*
-----------------------------------------------------------------------------
ID LEVEL RULES
-----------------------------------------------------------------------------
*/