@charset "ISO-8859-1";
/*
============================================================================
RULE FOR GRADIANT VIEW
============================================================================
*/
*{
	
}

/*
===========================================================================
RULES FOR ELEMENTS
===========================================================================
*/
h2, h3{
	color:#dd7127;
}
h4{
	color:#DD2727;
}

/*
============================================================================
RULES FOR CLASSES
============================================================================
*/
		/*
		--------------------------------------------------------------------
		RULES FOR TOP BANNER
		--------------------------------------------------------------------
		*/
.vt-ribbon-home {
	/*display : inline-block;*/
	padding : 0;
}
.vt-ribbon-list {
	list-style-type : none;
}
.vt-ribbon-list-elem {
	display       : inline-block;
	/*
	right-padding : 20px;
	left-padding  : 20px;
	max-width     : 376 px;
	*/
}
.vt-ribbon-viewtube {
	text-decoration : none;
}
.vt-ribbon-random {
	
}
.vt-ribbon-input {
	max-width  : 376 px;
	max-height : 36 px;
}
.vt-ribbon-button {
	
}
.vt-ribbon-personal {
	
}
.vt-ribbon-icon {
	height : 50px; 
	max-width : 50px;
	border-radius: 48px;
	
}

		/*
		--------------------------------------------------------------------
		RULES FOR BOTTOM BANNER
		--------------------------------------------------------------------
		*/
.vt-bottom-ribbon {
	overflow : hidden;
	position : fixed;
	bottom   : 0;
	width    : 100%;
	max-height   : 48px;
	border   : 2px;
	/*background-image : linear-gradient(#F0FFFF, #808080, #666666, black);*/
}
.vt-bottom-ribbon-list {
	list-style-type : none;
}
.vt-bottom-ribbon-list-elem {
	display : inline-block;
}
.vt-bottom-ribbon-link {
	text-decoration : none;
}
/*
-----------------------------------------------------------------------------
ID LEVEL RULES
-----------------------------------------------------------------------------
*/